*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family:Arial, Helvetica, sans-serif;
    
}
nav{
    padding: 10px;
    /* background-color:rgb(10,20,110); */
    /* background-color: rgb(39,39,39);; */
    background-color: black;
    /* box-shadow: rgba(92, 137, 235, 0.2) 0px 2px 8px 0px; */
    position: fixed;
    width: 100%;
}
nav ul{
  width: 100%;
  list-style: none; 
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding-right: 10px;
}
nav li{
    height: 60px;
    padding-right: 20px;
}
nav li:hover{
    background-color: rgb(140, 181, 224);
    border-radius: 6px;
}
nav a{
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
nav img{
    width: 70px;
    cursor: pointer;
   
    color: #fff;
}
nav a:hover{
    color: blue;
}
nav  li:nth-child(1):hover{
  background: none;
}
  nav  li:nth-child(6){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  nav  li:nth-child(6) button{
    font-size: 20px;
    /* background-color:rgb(10,20,110); */
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
   padding: 10px;
  }
  nav  li:nth-child(6) button :hover{
    background-color:rgb(140, 181, 224); ;
  }
  nav  li:nth-child(6):hover{
    background: none;
  }
.sign&Reg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
nav  li:last-child>a{
    background-color: #fff;
    color: #fff;
}
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:rgb(10,20,110); 
    backdrop-filter: blur(10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar li:first-child{
    background-color: #fff;
  }

.rMainContainer{
    display: flex;
    /* justify-content: center; */
    /* background-color: rgb(10,20,110); */
    background-color: rgb(39,39,39);
    /* height: 90vh; */
    height: 100vh;
     /* margin-top: 50px;  */
    /* margin-bottom: 10%; */
}
  
.side-1{
  width: 40%;
  /* height: 100%; */
  /* border: 1px solid red; */
  /* height: 90vh; */
  /* background-color: rgb(10,20,110); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}
.side-1>h2{
  color: #fff;
  font-size: 35px;

}
.side-1 span{
  color: lightcoral;
 
}
.side-1>p{
  color: #fff;
  font-size: 20px;
  text-align: start;
}
.side-1 button{
  font-size: 25px;
  background-color: rgb(51,195,240);
 color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  align-self: flex-start;
  cursor: pointer;
}
.side-1 button:hover{
  background-color:rgb(5, 160, 207);
  color: white;
}

.currContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  flex-wrap: wrap;
  /* background-color: rgb(10,20,110); */
  gap: 40px;
}

.reh2{
  color: white;
  font-size: 35px;
}
p{
  text-align: center;
  color: #fff;
  font-size: large;
}
.rbtn{
  color: #fff;
  background-color:  rgba(11, 243, 166, 0.37);
  cursor: pointer;
  /* font-size: 20px; */
  border-radius: 5px;
  padding: 5px 12px;
}
.rmoneyImg{
  width: 150px;
  /* color: rgba(2, 161, 108, 0.37); */
  border-radius: 60%;
  margin-top: 25px;
}
.rcurrency{
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rcurrency select{
  padding: 10px 20px 10px 10px ;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  background: transparent;
  background-color: #fff;
  border-radius: 6px;
  background-size:  12 px auto ,100%;
  background-repeat: no-repeat;
} 
.rcurrency input{
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
  color: #fff;
  font-size: 20px;
}
.change-rate{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate{
  color:lightgreen;
  font-size: 25px;
  padding: 0 10px;
}
.rbtn{
  background-color:rgb(51,195,240);
 color: white;
}
.sendmoney{
  background-color:rgb(51,195,240);
  font-size: 20px;
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: none;
}
.sendmoney:hover{
  background-color:rgb(5, 160, 207);
  color: white;
}

select:focus,input:focus,button:focus{
  outline: 0;
}

@media (max-width:700px){
  .rcurrency{
      display: flex;
      flex-direction: column;
  }
  .rcontainer{
    display: flex;
    flex-direction: column;
  }
}





/* cards */

.topcurrcontainer {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(39,39,39);;
}
.rohancurrmain{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-one {
  border-radius: 4px;
  padding: 16px;
}
.button-primary{
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
#search-by-select, #search-by-input ,#search-by-button{
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.rpowerfull{
  display: flex;
  justify-content: center;
  background-color: rgb(39,39,39);
  padding-top: 30px;
}

.inrpow{
  min-width: 80%;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: nowrap;
}
.inrpimg{
  width: 50%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inrpimg img{
  width: 100%;
  
}
.inrpcontest{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;
  padding: 0 40px;
}
.inrpcontest h4{
  color: white;
  font-size: 35px;
}
.inrpcontest p{
  text-align: start;
  font-size: 16px;
}
.inrpcontest  button{
  font-size: 18px;
  padding: 7px;
  align-self: flex-start;
  border-radius: 5px;
  /* background-color:rgb(141, 183, 238); */
  /* background-color: rgb(0,108,224); */
  background-color: rgb(51,195,240);
  border: none;
  cursor: pointer;
  color: #fff;
}



  @media(max-width:1640px){
    .hidemenu{
        display: none;
    }
}
  @media(max-width:800px){
    .hidemenu{
        display: flex;
    }
    .hideOnSmallS{
        display: none;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}



/* Converter CSS */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.header-image img{
  max-width: 75px;
  max-height: 75px;
}

.header-text {
  color: black;
}

.currency-body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  margin-top: 4%; 
} 
::selection{
  color: #fff;
  background: #383737;
}
.currency-wrapper{
  width: 500px;
  padding: 30px;
  border-radius: 7px;
  background: white;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.currency-wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
} 
.currency-wrapper form{
  margin: 40px 0 20px 0;
}
form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #353536;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .currency-select-box{
  display: flex;
  width: 150px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.currency-select-box img{
  max-width: 21px;
}
.currency-select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}
.currency-select-box select::-webkit-scrollbar{
  width: 8px;
}
.currency-select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.currency-select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #3b3b3d;
  transition: 0.3s ease;
}
form button:hover{
  background: #000000;
}

.exchange-rate{
  text-align: center;
}

.amount-input{
  width: 93%;
  align-items: center;
}


/* cards */

.topcurrcontainer{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 100%;
  background-color: rgb(39,39,39);
}
.rohancurrmain{
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 1px solid red; */
  
 /* flex-wrap: wrap; */
}
.tcur{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
}
.r-cardlist{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 40px;
}
.r-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: last baseline;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 10px;
  border-radius: 6px;
  padding-top: 5px;
  margin-top: 10px;
  transition: transform 0.2s ease-in;
  background-color: rgb(221, 217, 217);

}
.r-card:hover{
  transform: scale(1.06);
}
.card-img{
  min-height: 60%;

  border-radius: 6px;
}
.card-img img{
  width: 100%;
}
.card-body{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  
}
.card-body h3{
  font-size: 20px;
  color: rgb(48, 9, 9);
  
}

.card-body p, h6{
  color:rgb(26, 17, 17);
  font-size: 16px;
}

.pagination-wrapper{
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
.pagination-wrapper button{
  font-size: 30px;
  padding: 25px;
  box-shadow: rgba(245, 242, 242, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 6px;
}


/* footerStart */

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(39,39,39);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 
}

.footer-section {
  margin-right: 20px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  cursor: pointer;
}


.language-dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.language-dropdown a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-dropdown a:hover {
  background-color: #555;
}

.selected-language {
  color: #fff;
  margin-top: 10px;
}

.show {
  display: block;
}




.footer-section.social-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section.social-section ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}

.footer-section.social-section i {
  color: #fff;
  transition: color 0.3s ease;
}

.footer-section.social-section i:hover {
  color: #ffd700;
}


.footer-section.copyright-section {
  text-align: center;
  margin-top: -1.2%;
  width: 100%;
  background-color: rgb(39,39,39);;
  color: rgb(225, 220, 220);
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .footer-container {
      flex-wrap: wrap;
  }

  .footer-section {
      width: 100%;
      margin-bottom: 20px;
  }
}


/* footerEnd */