
body{
    background-color:  rgb(39,39,39);
    font-family: 'Montserrat', sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .numpad {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 250px;
  }
  input{
    padding: 10px;
   
  }
 .input-text{
  display: flex;
  flex-direction: column;
 }
  .input {
  

    margin-bottom: 30px;
   
    display: flex;
    justify-content: center;
  }
  
  .number {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    justify-content: space-between;
    /* width: 260px; */
  }
  
  .row span {
    display: block;

    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
   
  }
  
  .row span:hover {
    background-color: #f0f0f0;
  }
  /* #backspace{
    background-color: aqua;
    border-radius: 70%;
    font-size: 24px; 
  } */
  .continue{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color:rgb(39,39,39) ;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.continue :hover{
    background-color:  rgb(72, 71, 71);
}
/* @media (max-width: 600px) {
    .numpad {
      padding: 20px; 
    }
  
    .row span {
      font-size: 18px;
    }
  } */
  