body{
    margin: 0;
    padding: 0;
    background-color:  rgb(39,39,39);
    font-family: 'Montserrat', sans-serif;
}
form{
    width: 600px;
    margin: 100px auto  0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #30475e, 0 4px 8px 0 #30475e;
    color: black;
    background-color: white;
}
h1{
    text-align: center;
    
}
.box{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    /* background-color: #30475e; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country{
    font-size: 14px;
}
.div1{
    display: inline-block;
    
}

.box2{
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color:rgb(39,39,39) ;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    body{
        padding: 20px;
    }
    form{
        width: 100%;
        box-sizing: border-box;
    }
    .div1{
        display: block;
    }
    .box2{
        width: 100%;
        box-sizing: border-box;
    }
}